

<!-- ******HEADER****** -->
<header id="header" class="header navbar-fixed-top scrolled">
<div class="container">
  <h1 class="logo">
    <a href="#"><img title='Stratnel' class='logo-title' src='assets/images/logo.png' />
    </a>
  </h1><!--//logo-->
  <nav class="main-nav navbar-right" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button><!--//nav-toggle-->
  </div><!--//navbar-header-->
  <div id="navbar-collapse" class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
      <li class="nav-item"><a href="https://blog.stratnel.com">Blog</a></li>
      <li class="nav-item"><a href="/#services">Services</a></li>
      <li class="nav-item"><a href="/#team">Team</a></li>
      <li class="nav-item"><a href="/frequently-asked-questions.html">FAQ</a></li>
      <li class="nav-item nav-item-cta last"><a class="btn btn-cta btn-cta-secondary" href="/#call-to-action">Contact us</a></li>
    </ul><!--//nav-->
  </div><!--//navabr-collapse-->
  </nav><!--//main-nav-->
</div><!--//container-->
</header><!--//header-->
